@import url('https://fonts.google.com/');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ticon{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.menu{
    position:fixed;
    display: block;
    top: 0px;
    left:0px;
    width: 25%;
    height: 100vh;
    background:-webkit-linear-gradient(left,rgb(128, 0, 128),rgba(236, 12, 49, 0.685));
    border: 1px solid black;
    border-radius: 8px;
    left:-50%;
    transition: 1s;
}
.menu>h1{
    position: relative;
    color: aliceblue;
    padding: 10px;
    font-family: cursive ;
}
.menu>ul>li>a{
    position: relative;
    display: block;
    font-family: cursive;
    padding: 20px 15px;
    color: rgba(240, 248, 255, 0.644);
    text-decoration: none;
    animation: moveli 2.5s infinite;
    animation-iteration-count: 1;
    transition: 0.9s;
}

@keyframes moveli {
    from{right: 350px}
    to{right: 0px}
}
.close{
    position: absolute;
    right: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.smenu{
    left: 0px;
}
.smenu>ul>li>a{
    color: antiquewhite;
}

.body{
    background:-webkit-linear-gradient(left,purple,black);
}
